.btn{
    width: 10rem;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--light);
    color: var(--dark);
}
.btn:hover{
    background-color: var(--dark);
    color: var(--light);
}