:root {
  --light: #FEFAE0;
  --white: #ffffff;
  --dark: #283618;
  --black: #000000;
  --midnight: #606C38





  ;
}

.body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 16px;
  
}