:root {
  --lightyellow: #FEFAE0;
  --white: #ffffff;
  --green: #283618;
  --black: #000000;
  --brown: #A66326;
}

.body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 16px;
  
}